.tabs {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.tabs__input {
    display: none;
}

.tabs__navigation {
    overflow: hidden;
}

.tabs__scroller {
    height: 40px;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-x: auto
}

.tabs__scroller-item {
    margin-right: 40px;
    cursor: pointer;
    position: relative;
    color: var(--grey-3);
    padding: 0.5rem 0;
    border-bottom: 5px solid transparent;
    /*display: inline-flex;*/
}

#all-tab:checked ~ .tabs__navigation label[for="all-tab"],
#complex-tab:checked ~ .tabs__navigation label[for="complex-tab"],
#simple-tab:checked ~ .tabs__navigation label[for="simple-tab"] {
    color: var(--black);
    position: relative;
    border-bottom: 5px solid var(--black);
}