.button {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 15px 66px;
    height: 48px;
    cursor: pointer;
    margin: 20px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:disabled{
    opacity: 0.5;
    pointer-events: none;
}

.button_primary {
    background-color: #4263EB;
    color: white;
    border: 1px solid #4263EB;
}

.button_primary:hover {
    background-color: #2342C0;
}

.button_secondary {
    background-color: var(--purple);
    color: white;
    border: 1px solid var(--purple);
}

.button_secondary:hover {
    background-color: #5028C6;
}

.button_alternate {
    background-color: white;
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

.button_alternate:hover {
    border: 1px solid var(--black);
}