

.card__item {
    background: #ffffff;
    height: 367px;
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin: 0 auto 30px;
    width: 100%;
    color: var(--black);
}


@media screen and (min-width: 400px) {
    .card__title{
        font-family: 'Inter', Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px;
        border-top: 1px solid var(--grey-2);
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}