.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(127,127,127, 0.5);
}

.modal__window {
    padding: 32px 40px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.modal__header{
    display: flex;
    justify-content: space-between;
}

.modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.modal__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}