.histogram{
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram__container{
    padding: 16px 24px 24px;
}

.histogram__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.histogram__title{
    margin: 0;
    opacity: 0.8;
    color: var(--black);
}

.histogram__link{
    text-decoration: none;
    color: var(--indigo);
}

.histogram__view{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.histogram__subtitle{
    margin: 0 0 39px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
}

.histogram__body{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    height: 50px
}

.histogram__column {
    height: calc(var(--value) * 1%);
    background-color: var(--indigo);
    min-width: 1px;
    flex-grow: 1;
    margin: 0 0 0 1px;
}