.radio {
    display: inline-block;
    position: relative;
}

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid var(--black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__icon {
    display: none;
}

.radio__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state .radio__control {
    border-color: var(--blue);
}

.radio__input:checked ~ .radio__state .radio__control > .radio__icon {
    display: block;
}

.radio__input:disabled ~ .radio__state .radio__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
    pointer-events: none;
}

.radio__input:disabled ~ .radio__state .radio__control > .radio__icon {
    display: none;
}

.radio__input:focus ~ .radio__state .radio__title {
    text-decoration: underline;
}