.footer {
    grid-area: footer;
    text-align: center;
    padding: 96px 615px 56px;
}

.footer__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: var(--black);
    margin-top: 71px;
}

.footer__description  {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    max-width: 640px;
    margin: 32px auto 136px;
}